.switcher{
  padding-top: 5px;
  font-size: 12px;
  transition: background 0.3s linear;
  cursor: pointer;

  .space-switcher-title{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px;
    display: inline-block;

    &.opened{
      background: white;
      height: 36px;
      color: $bluePodio;
    }

    .glyphicon{
      font-size: 11px;
    }
  }

  .space-switcher-results{
    background: white;
    width: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    padding: 10px;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .space-switcher-searcher-wrapper{
      color: grey;
      margin-bottom: 5px;
      border: 1px solid $borderLight;
      border-radius: 3px;
      padding: 0px 5px 0px 5px;
    }

    .organization{
      border-top: 1px solid $borderLight;

      .column-image{
        padding-top: 5px;
      }

      .column-results{
        padding: 5px 0px 5px 0px;
        border-left: 1px solid $borderLight;

        .organization-name{
          color: $bluePodio;
          font-weight: bold;
          padding: 5px;
          
          &:active, &:hover{
            background: rgba(80, 146, 189, 0.27);
          }    
        }

        .space{
          font-style: italic;
          padding: 0px 5px 0px 10px;
          color: grey;

          &:active, &:hover{
            background: rgba(80, 146, 189, 0.27);
          }
        }
      }

    }
  }
}